<form class="hero-form form">
    <div class="container">
        <div class="main-search-form">
            <div class="form-row">
                <div class="col-md-9 col-sm-9">
                    <div class="form-group">
                        <label for="what" class="col-form-label">Apa yang ingin Anda cari?</label>
                        <input name="keyword" type="text" class="form-control" id="what"
                            placeholder="Ketik kata kunci pencarian">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button type="submit" class="btn btn-primary width-100">Cari</button>
                </div>
            </div>
        </div>
        <div class="alternative-search-form">
            <a href="#" class="icon" (click)="this.showAdvancedSearch = !this.showAdvancedSearch"><i class="fa fa-plus"></i>Pencarian Lanjut</a>
            <div *ngIf="this.showAdvancedSearch">
                <div class="wrapper">
                    <div class="form-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input name="nomor" type="text" class="form-control small" id="nomor"
                                            placeholder="Nomor Peraturan">
                            
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input name="tahun" type="text" class="form-control small" id="tahun"
                                            placeholder="Tahun Peraturan">
                            
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">                                        
                                        <select 
                                            data-placeholder="Bentuk Peraturan">
                                            <option value="">Undang-Undang</option>
                                            <option value="1">Peraturan Pemerintah</option>
                                            <option value="2">Peraturan Presiden</option>
                                            <option value="3">Peraturan Menteri Keuangan</option>
                                            <option value="4">Peraturan Eselon I</option>
                                            <option value="5">Surat Edaran</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <ng-select [items]="simpleItems"
                                        class="custom-select"
                                        [(ngModel)]="selectedSimpleItem"
                                        [ngModelOptions]="{standalone: true}"
                                        >
                                           </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>