<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="assets/css/selectize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/user.css">
	<title>Jaringan Dokumentasi dan Informasi Hukum (JDIH) Kementerian Keuangan</title>

</head>
<body>
    <div class="page sub-page">
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <header class="hero has-dark-background">
            <div class="hero-wrapper">
                <!--============ Secondary Navigation ===============================================================-->
                <div class="secondary-navigation">
                    <div class="container">
                        <ul class="left">
                            <li>
                            <span>
                                <i class="fa fa-home"></i> JDIH Kementerian Keuangan
                            </span>
                            </li>
                        </ul>
                        <!--end left-->
                        <ul class="right">
                            <li>
                                <a href="sign-in.html">
                                    <i class="fa fa-sign-in"></i>Sign In
                                </a>
                            </li>
                        </ul>
                        <!--end right-->
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Secondary Navigation ===========================================================-->
                <!--============ Main Navigation ====================================================================-->
                <div class="main-navigation">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/img/jdihn.png" style="height:40px" alt="">
                                <img src="assets/img/kemenkeu.png" style="height:40px" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar">
                                <!--Main navigation list-->
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Beranda</a>
                                     </li>
                                    <li class="nav-item has-child">
                                        <a class="nav-link" href="#">Informasi Hukum</a>
                                        <!-- 1st level -->
                                        <ul class="child">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Peraturan</a>
                                                <!-- 2nd level -->
                                              
                                                <!-- end 2nd level -->
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Putusan Hukum</a>
                                                <!-- 2nd level -->
                                              
                                                <!-- end 2nd level -->
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Artikel Hukum</a>
                                                <!-- 2nd level -->
                                          
                                                <!-- end 2nd level -->
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Monografi Hukum</a>
                                                <!-- 2nd level -->
                                              
                                                <!-- end 2nd level -->
                                            </li>
                                        </ul>
                                        <!-- end 1st level -->
                                    </li>
                                    <li class="nav-item has-child">
                                        <a class="nav-link" href="#">Info Lainnya</a>
                                        <!-- 2nd level -->
                                        <ul class="child">
                                            <li class="nav-item">
                                                <a href="sellers.html" class="nav-link">Simplifikasi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog.html" class="nav-link">Kurs Fiskal</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-post.html" class="nav-link">Pustaka Hukum</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="blog-post.html" class="nav-link">Berita</a>
                                            </li>
                                        </ul>
                                     
                                        <!-- end 2nd level -->
                                    </li>
                                    <li class="nav-item has-child">
                                        <a class="nav-link" href="#">Tentang Kami</a>
                                        <!--1st level -->
                                        <ul class="child">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Tentang JDIH</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Saran/Pertanyaan</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">FAQ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Prasyarat</a>
                                            </li>
                                        </ul>
                                    </li>
                                
                                
                                </ul>
                                <!--Main navigation list-->
                            </div>
                            <!--end navbar-collapse-->
                        </nav>
                        <!--end breadcrumb-->
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Main Navigation ================================================================-->
                <!--============ Page Title =========================================================================-->
                <div class="page-title">
                    <div class="container">
                        <h1>Detail Peraturan</h1>
                    </div>
                    <!--end container-->
                </div>
                <!--============ End Page Title =====================================================================-->
                <div class="background">
                    <div class="background-image">
                        <img src="assets/img/sliderx-cpns.jpg" alt="">
                    </div>
                
                <!--end background-->
            </div>
            <!--end hero-wrapper-->
        </header>
        <!--end hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <section class="content">
            <section class="block">
                <div class="container">
                        <div class="row flex-column-reverse flex-md-row">
                                <!--============ Listing Detail =============================================================-->
                                <div class="col-md-8">
                                    <!--Description-->

                                    <!--end Description-->
                                    <!--Details-->
                                    <section>
                                        <h2>Detail Peraturan</h2>
                                        <div class="author big">

                                                <!--end author-image-->
                                                <div class="author-description">
                                                     <div class="text-align-right social">
                                                                <a href="#">
                                                                    <i class="fa fa-facebook-square"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-twitter-square"></i>
                                                                </a>
                                                                <a href="#">
                                                                    <i class="fa fa-share"></i>
                                                                </a>
                                                            </div>
                                                    <div class="section-title">
                                                        <h2>PMK Nomor 166/PMK.07/2019</h2>
                                                        <h4 class="location">
                                                            <a href="#">Dana Perimbangan</a>
                                                        </h4>
                                                     
                                                    </div>
                                                    <div class="additional-info">
                                                            <p>
                                                                    Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah
                                                            </p>
                                                            <br/>
                                                        <ul>
                                                            <li>
                                                                <figure>Tanggal</figure>
                                                                <aside>15 November 2019</aside>
                                                            </li>
                                                            <li>
                                                                <figure>Subjek</figure>
                                                                <aside><a href="#">DANA ALOKASI UMUM - JAMINAN KESEHATAN - PEMERINTAH</a></aside>
                                                            </li>
                                                            <li>
                                                                <figure>Sumber</figure>
                                                                <aside><a href="#">BN 2019 (567)</a></aside>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <!--end addition-info-->

                                                </div>
                                                <!--end author-description-->
                                            </div>
                                    </section>
                                    <!--end Details-->
                                    <!--Location-->
                                    
                                    <!--end Location-->
                                    <!--Features-->
                                    
                                    <!--end Features-->
        
                                    <hr>
        
                                    <!--Similar Ads-->
                                 
                                    <!--end Similar Ads-->
                                </div>

                                <div class="col-md-4">
                                        <section>
                                                <h2>Rekomendasi Peraturan Terkait</h2>
                                                <div class="items list compact">
                                                    <div class="item">
                                                       <div class="wrapper">
                                                            <!--end meta-->
                                                            <h3>145/PMK.05/2019</h3>
                                                            <div class="description">
                                                                <p>Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end item-->
                                                    <div class="item">
                                                            <div class="wrapper">
                                                                 <!--end meta-->
                                                                 <h3>145/PMK.05/2019</h3>
                                                                 <div class="description">
                                                                     <p>Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah</p>
                                                                 </div>
                                                             </div>
                                                         </div>

                                                         <div class="item">
                                                                <div class="wrapper">
                                                                     <!--end meta-->
                                                                     <h3>145/PMK.05/2019</h3>
                                                                     <div class="description">
                                                                         <p>Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah</p>
                                                                     </div>
                                                                 </div>
                                                             </div>                                                         
                                            
                                                    <!--end item-->

                                                    <!--end item-->
                                                </div>
                                                <!--end items.list.compact-->
                                            </section>
                                </div>
                                <!--============ End Listing Detail =========================================================-->
                                <!--============ Sidebar ====================================================================-->
                                
                                <!--============ End Sidebar ================================================================-->
                            </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--end block-->
        </section>
        <!--end content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <footer class="footer">
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="#" class="brand">
                                <img src="assets/img/kemenkeu.png" style="height: 50px" alt="">
                            </a>
                            <p>
                                Hak Cipta Kementerian Keuangan Republik Indonesia<br>
                                Manajemen JDIH - Gedung Djuanda I Lt. G <br>
                                Jl. Dr.Wahidin Raya No 1 Jakarta 10710<br>
                                Telp: 134 Fax: 021-3500842
                            </p>
                        </div>
                        <!--end col-md-5-->
                        <div class="col-md-3">
                            
                        </div>
                        <!--end col-md-3-->
             
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                </div>
                <div class="background">
                    <div class="background-image original-size">
                        <!-- <img src="assets/img/footer-background-icons.jpg" alt=""> -->
                    </div>
                    <!--end background-image-->
                </div>
                <!--end background-->
            </div>
        </footer>
        <!--end footer-->
    </div>
    <!--end page-->

	<script src="assets/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
	<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58&libraries=places"></script>
	<script src="assets/js/selectize.min.js"></script>
	<script src="assets/js/masonry.pkgd.min.js"></script>
	<script src="assets/js/icheck.min.js"></script>
	<script src="assets/js/jquery.validate.min.js"></script>
	<script src="assets/js/custom.js"></script>

</body>
</html>
