.background{
    background: url(./../../../../assets/img/sliderx-cpns.jpg);
    filter: brightness(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero .hero-wrapper {
    padding-bottom: 7rem;
}

@media (max-width: 768px) {
    .hero .hero-wrapper {
        padding-bottom: 0;
    }
}