<section class="block"> 
    <div class="container" style="padding-bottom: 30px;">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>Hubungi Kami</h2>
                <p>
                    Bagaimanapun saran/komentar dari semua pihak, bermanfaat untuk pengembangan portal ini. Kami ingin masukan yang positif dan konstruktif.
                    <br/><br/>Sebelum mengisi <a href="#" class="lihat" routerLink="form">form ini</a>, disarankan terlebih dahulu untuk membaca yang telah diterima. <br/><br/><a href="#" class="lihat" routerLink="list">Lihat Daftar Pertanyaan</a>
                </p>
                <br>
                <div class="address d-none d-sm-none d-md-block">
               
                <figure class="with-icon">
                    <i class="fa fa-map-marker"></i>
                    <span>Gedung Djuanda I Lantai Ground<br>Jl. Dr. Wahidin Nomor 1, Jakarta 10710 </span>
                </figure>
                <figure class="with-icon">
                    <i class="fa fa-phone"></i>
                    <span>+6221-3449230 ext. 6065</span>
                </figure>
                <figure class="with-icon">
                    <i class="fa fa-envelope"></i>
                    <a href="#">jdih@kemenkeu.go.id</a>
                </figure>
            </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</section>