.background{
    background: url(./../../../../assets/img/sliderx-cpns.jpg);
    filter: brightness(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}