<div class="container" style="padding-bottom: 30px;">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Detail Putusan</h2>
            <div class="download-group">
                <a href="#" class="btn btn-framed text-caps btn-primary small"><i
                        class="fa fa-download"></i>Fulltext</a>
                <a href="#" class="btn text-caps btn-info small float-right"><i class="fa fa-share"></i>Share</a>
            </div>
            <article class="blog-post clearfix">
                <div class="blog-post-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" width="20%">Meta</th>
                                <th scope="col" width="80%">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nomor</td>
                                <td>199/PXXX/2020</td>
                            </tr>
                            <tr>
                                <td>Judul</td>
                                <td>Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan
                                    Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah</td>
                            </tr>
                            <tr>
                                <td>Kode Panggil</td>
                                <td>XXXX</td>
                            </tr>
                            <tr>
                                <td>ISBN</td>
                                <td>XXXX</td>
                            </tr>
                            <tr>
                                <td>Tajuk Utama</td>
                                <td>XXXX</td>
                            </tr>
                            <tr>
                                <td>Pengarang</td>
                                <td>XXXX</td>
                            </tr>
                            <tr>
                                <td>Penerbit</td>
                                <td>XXXX</td>
                            </tr>
                            <tr>
                                <td>Tanggal Terbit</td>
                                <td>Administrasi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>


        </div>
    </div>
</div>