<section class="block">
    <div class="container">
        <h2>Tematik Pilihan</h2>
        <ul class="categories-list clearfix">
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-furniture-b.png" alt="">
                </i>
                <h3><a href="#">EODB</a></h3>
                <div class="sub-categories">
                    <a href="#">Ease of Doing Business</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-pets-b.png" alt="">
                </i>
                <h3><a href="#">Dana Desa</a></h3>
                <div class="sub-categories">
                    <a href="#">Pengelolaan Dana Desa</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-real-estate-b.png" alt="">
                </i>
                <h3><a href="#">Tarif BLU</a></h3>
                <div class="sub-categories">
                    <a href="#">Tarif Badan Layanan Umum</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-jobs-b.png" alt="">
                </i>
                <h3><a href="#">APBN 2019</a></h3>
                <div class="sub-categories">
                    <a href="#">Anggaran Pendapatan dan Belanja Negara</a>
                </div>
            </li>
            <!--end category item-->

            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-cars-b.png" alt="">
                </i>
                <h3><a href="#">Penjaminan</a></h3>
                <div class="sub-categories">
                    <a href="#">Penjaminan Pemerintah</a>

                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-mobile-b.png" alt="">
                </i>
                <h3><a href="#">AEOI</a></h3>
                <div class="sub-categories">
                    <a href="#">Pertukaran Informasi Perpajakan</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-cameras-b.png" alt="">
                </i>
                <h3><a href="#">Pembiayaan</a></h3>
                <div class="sub-categories">
                    <a href="#">Pengelolaan Pembiayaan</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-sport-b.png" alt="">
                </i>
                <h3><a href="#">SBSN</a></h3>
                <div class="sub-categories">
                    <a href="#">Surat Berhaarga Syariah Negara</a>
                </div>
            </li>
            <!--end category item-->

            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-electro-b.png" alt="">
                </i>
                <h3><a href="#">Bea Masuk</a></h3>
                <div class="sub-categories">
                    <a href="#">Tarif Bea Masuk</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-clothing-b.png" alt="">
                </i>
                <h3><a href="#">Subsidi</a></h3>
                <div class="sub-categories">
                    <a href="#">Subsidi Pemerintah</a>                                
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-books-b.png" alt="">
                </i>
                <h3><a href="#">PNBP</a></h3>
                <div class="sub-categories">
                    <a href="#">Penerimaan Negara Bukan Pajak</a>
                </div>
            </li>
            <!--end category item-->
            <li>
                <i class="category-icon">
                    <img src="assets/icons/category-music-b.png" alt="">
                </i>
                <h3><a href="#">BMN</a></h3>
                <div class="sub-categories">
                    <a href="#">Barang Milik Negara</a>
                </div>
            </li>
            <!--end category item-->
        </ul>
        <!--end categories-list-->
    </div>
    <!--end container-->
</section>
</section>

</section>