<h2>Daftar Artikel</h2>

<div class="items list">
    <app-list-item *ngFor="let item of ArtikelList" [title]="item.NomorPanggil" [description]="item.Judul"
        [buttonData]="generateButton(item)" [detailButton]="generateButtonDetail(item)">
    </app-list-item>
</div>

<div class="col-md-12 center">
    <app-pagination [initialPage]="initialPage" [route]="'/artikel/list'" [routeParams]="currentQueryParams"
        [itemsLength]="ArtikelList.length" [pageSize]="5" [maxPages]="5" (changePage)="onChangePage($event)"></app-pagination>
</div>