<div class="secondary-navigation">
    <div class="container">
        <ul class="left">
            <li>
            <span>
                <i class="fa fa-home"></i> JDIH Kementerian Keuangan
            </span>
            </li>
        </ul>
        <!--end left-->
        <ul class="right">
            <li>
                <a href="sign-in.html">
                    <i class="fa fa-sign-in"></i>Sign In
                </a>
            </li>
        </ul>
        <!--end right-->
    </div>
    <!--end container-->
</div>