<form #searchForm="ngForm" class="hero-form form">
    <div class="container">
        <div class="main-search-form">
            <div class="form-row">
                <div class="col-md-9 col-sm-9">
                    <div class="form-group">
                        <label for="what" class="col-form-label">Apa yang ingin Anda cari?</label>
                        <input name="Judul" #judul="ngModel" ngModel type="text" class="form-control" id="keyword"
                            placeholder="Ketik kata kunci pencarian">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button type="button" class="btn btn-primary width-100" (click)="search(searchForm)">Cari</button>
                </div>
            </div>
        </div>
        <div class="alternative-search-form">
            <a href="#collapseAlternativeSearchForm" class="icon" data-toggle="collapse" aria-expanded="false"
                aria-controls="collapseAlternativeSearchForm"><i class="fa fa-plus"></i>Pencarian Lanjut</a>

            <div class="collapse" id="collapseAlternativeSearchForm">
                <div class="wrapper">
                    <div class="form-row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input name="Nomor" #nomor="ngModel" ngModel type="text" class="form-control small" id="nomor"
                                            placeholder="Nomor Peraturan">

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <input name="Tahun" #tahun="ngModel" ngModel type="text" class="form-control small" id="tahun"
                                            placeholder="Tahun Peraturan">

                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <ng-select [items]="BentukPUUItems" name="Bentuk" #bentuk="ngModel" ngModel bindLabel="RefTypeNames"
                                            bindValue="RefTypeId" 
                                            placeholder="Bentuk Peraturan">
                                        </ng-select>
                                    </div>

                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="form-group">
                                        <ng-select [items]="ScopeItems" name="Scope" #scope="ngModel" ngModel bindLabel="Keterangan"
                                            bindValue="Id" 
                                            placeholder="Jangkauan Peraturan">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>