.form.hero-form {
  padding-top: 10rem;
}
.form.hero-form .main-search-form .form-group {
  position: relative;
}
.form.hero-form .main-search-form .form-group label {
  font-family: "Varela Round", sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  position: absolute;
  top: -5rem;
  font-weight: normal;
}

.form.hero-form .main-search-form-toggle {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  bottom: -4.1rem;
  background-color: #005598;
  padding: 1rem 1.4rem;
  color: #fff;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.form.hero-form .main-search-form-toggle i {
  transition: 0.3s ease;
}

.form.hero-form .main-search-form-toggle i.fa-close {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.7rem;
  right: 0;
  left: 0;
  width: 1rem;
}

.form.hero-form .main-search-form-toggle:hover {
  box-shadow: 0 0.4rem 3.3rem rgba(0, 0, 0, 0.3);
}

.form.hero-form .main-search-form-toggle[aria-expanded="true"] .fa-close {
  opacity: 1;
}

.form.hero-form .main-search-form-toggle[aria-expanded="true"] .fa-search {
  opacity: 0;
}

.form.hero-form [type="submit"] {
  padding: 1.4rem 1.6rem;
}
.form.hero-form [type="submit"].small {
  padding: 0.9rem 1rem;
  font-size: 1.5rem;
}

.form .alternative-search-form {
  padding-top: 1rem;
  z-index: 1;
  position: relative;
}
.form .alternative-search-form .collapse.show .wrapper {
  opacity: 1;
  transform: scale(1);
}
.form .alternative-search-form .wrapper {
  opacity: 1;
  transition: 0.1s ease;
  transform: scale(0.98);
  margin-top: 2rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 4rem;
  padding-bottom: 2rem;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.form .alternative-search-form .wrapper:before {
  border-style: solid;
  border-width: 0 0.45rem 0.6rem 0.45rem;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -0.6rem;
  left: 1.8rem;
  content: "";
}
.form .alternative-search-form .wrapper:after {
  border-style: solid;
  border-width: 0 0.55rem 0.7rem 0.55rem;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  position: absolute;
  top: -0.7rem;
  left: 1.7rem;
  content: "";
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .form.hero-form .main-search-form .form-group label {
    top: -4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .form.hero-form {
    padding-top: 1rem;
  }

  .form.hero-form .main-search-form .form-group label {
    top: inherit !important;
  }

  .form.hero-form .main-search-form {
    margin-bottom: 0rem;
    padding: 1rem !important;
  }

  .form .alternative-search-form {
    padding-bottom: 30px;
    text-align: center;
  }
  .form.hero-form .main-search-form .form-group label {
    position: relative;
    font-size: 2rem;
    top: inherit;
  }
}
