<header class="hero has-dark-background">
    <div class="hero-wrapper">
        <!--============ Secondary Navigation ===============================================================-->
        
        <!--============ End Secondary Navigation ===========================================================-->
        
        <!--============ Main Navigation ====================================================================-->
        <div class="main-navigation">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/jdihn.png" style="height:40px" alt="">
                        <img src="assets/img/kemenkeu.png" style="height:40px" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <!--Main navigation list-->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Beranda</a>
                             </li>
                            <li class="nav-item has-child">
                                <a class="nav-link" href="#">Informasi Hukum</a>
                                <!-- 1st level -->
                                <ul class="child">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Peraturan</a>
                                        <!-- 2nd level -->
                                      
                                        <!-- end 2nd level -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Putusan Hukum</a>
                                        <!-- 2nd level -->
                                      
                                        <!-- end 2nd level -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Artikel Hukum</a>
                                        <!-- 2nd level -->
                                  
                                        <!-- end 2nd level -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Monografi Hukum</a>
                                        <!-- 2nd level -->
                                      
                                        <!-- end 2nd level -->
                                    </li>
                                </ul>
                                <!-- end 1st level -->
                            </li>
                            <li class="nav-item has-child">
                                <a class="nav-link" href="#">Info Lainnya</a>
                                <!-- 2nd level -->
                                <ul class="child">
                                    <li class="nav-item">
                                        <a href="sellers.html" class="nav-link">Simplifikasi</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog.html" class="nav-link">Kurs Fiskal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-post.html" class="nav-link">Pustaka Hukum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-post.html" class="nav-link">Berita</a>
                                    </li>
                                </ul>
                             
                                <!-- end 2nd level -->
                            </li>
                            <li class="nav-item has-child">
                                <a class="nav-link" href="#">Tentang Kami</a>
                                <!--1st level -->
                                <ul class="child">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Tentang JDIH</a>
                               
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Saran/Pertanyaan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Prasyarat</a>
                                    </li>
                                </ul>
                            </li>
                        
                        
                        </ul>
                        <!--Main navigation list-->
                    </div>
                    <!--end navbar-collapse-->
                </nav>
                <!--end navbar-->
            </div>
            <!--end container-->
        </div>
        <!--============ End Main Navigation ================================================================-->
        <!--============ Page Title =========================================================================-->
        <div class="page-title">
            <div class="container">
                <h1 class="opacity-60 center">
                    <!-- Akses Informasi Dokumen Hukum dalam Satu Pintu -->
                </h1>
            </div>
            <!--end container-->
        </div>
        <!--============ End Page Title =====================================================================-->
        <!--============ Hero Form ==========================================================================-->
        <form class="hero-form form">
            <div class="container">
                <!--Main Form-->
                <div class="main-search-form">
                    <div class="form-row">
                        <div class="col-md-9 col-sm-9">
                            <div class="form-group">
                                <label for="what" class="col-form-label">Masukan Peraturan yang ingin Anda Cari</label>
                                <input name="keyword" type="text" class="form-control" id="what" placeholder="Ketik kata kunci pencarian">
                            </div>
                            <!--end form-group-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-3 col-sm-3">
                            <button type="submit" class="btn btn-primary width-100">Cari</button>
                        </div>
                        <!--end col-md-3-->
                    </div>
                    <!--end form-row-->
                </div>
                <!--end main-search-form-->
                <!--Alternative Form-->
                <div class="alternative-search-form">
                    <a href="#collapseAlternativeSearchForm" class="icon" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseAlternativeSearchForm"><i class="fa fa-plus"></i>Pencarian Lanjut</a>
                    <div class="collapse" id="collapseAlternativeSearchForm">
                        <div class="wrapper">
                            <div class="form-row">
                                        <!--end col-xl-6-->
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-row">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input name="min_price" type="text" class="form-control small" id="min-price" placeholder="Nomor Peraturan">
                                                <span class="input-group-addon small">$</span>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-4-->
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <input name="max_price" type="text" class="form-control small" id="max-price" placeholder="Tahun Peraturan">
                                                <span class="input-group-addon small">$</span>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-4-->
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <select name="distance" id="distance" class="small" data-placeholder="Bentuk Peraturan" >
                                                    <option value="">Undang-Undang</option>
                                                    <option value="1">Peraturan Pemerintah</option>
                                                    <option value="2">Peraturan Presiden</option>
                                                    <option value="3">Peraturan Menteri Keuangan</option>
                                                    <option value="4">Peraturan Eselon I</option>
                                                    <option value="5">Surat Edaran</option>
                                                </select>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-group">
                                                <select name="distance" id="distance" class="small" data-placeholder="Lingkup Peraturan" >
                                                    <option value="">Publik</option>
                                                    <option value="1">Internal Eselon I</option>
                                                    <option value="2">Kementerian Keuangan</option>
                                                </select>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                    </div>
                                    <!--end form-row-->
                                </div>
                                <!--end col-xl-6-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end wrapper-->
                    </div>
                    <!--end collapse-->
                </div>
                <!--end alternative-search-form-->
            </div>
            <!--end container-->
        </form>
        <!--============ End Hero Form ======================================================================-->
        <div class="background">
            <div class="background-image">
                <img src="assets/img/sliderx-cpns.jpg" alt="">
            </div>
            <!--end background-image-->
        </div>
        <!--end background-->
    </div>
    <!--end hero-wrapper-->
</header>