<div class="page-pagination">
    <nav aria-label="Pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">
                        <i class="fa fa-chevron-left"></i>
                    </span>
                    <span class="sr-only">Sebelumnya</span>
                </a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">
                        <i class="fa fa-chevron-right"></i>
                    </span>
                    <span class="sr-only">Berikutnya</span>
                </a>
            </li>
        </ul>
    </nav>
</div>