<article class="blog-post clearfix">
    <a href="blog-post.html">
        <img src="assets/img/blog-image-01.jpg" alt="">
    </a>
    <div class="article-title">
        <h2><a href="blog-post.html">10 tips for renovation</a></h2>
        <div class="tags framed">
            <a href="#" class="tag">Home &amp; Decor</a>
            <a href="#" class="tag">Design</a>
        </div>
    </div>
    <div class="meta">
        <figure>
            <a href="#" class="icon">
                <i class="fa fa-user"></i>
                John Doe
            </a>
        </figure>
        <figure>
            <i class="fa fa-calendar-o"></i>
            02.05.2017
        </figure>
    </div>
    <div class="blog-post-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit
            amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Vestibulum tincidunt, sapien sagittis sollicitudin dapibus,
            risus mi euismod elit
        </p>
        <a href="#" routerLink="../detail" class="btn btn-primary btn-framed detail">Read more</a>
    </div>
</article>