<div class="container" style="padding-bottom: 30px;">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <h2>Detail Peraturan</h2>
            <div class="download-group">
                <a href="#" class="btn btn-framed text-caps btn-primary small"><i
                        class="fa fa-download"></i>Fulltext</a>
                <a href="#" class="btn btn-framed text-caps btn-primary small"><i class="fa fa-eye"></i>Abstrak</a>
                <a href="#" class="btn btn-framed text-caps btn-primary small"><i class="fa fa-newspaper-o"></i>Siaran
                    Pers</a>
                <a href="#" class="btn text-caps btn-info small float-right"><i class="fa fa-share"></i>Share</a>
            </div>
            <article class="blog-post clearfix">
                <div class="blog-post-content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" width="20%">Meta</th>
                                <th scope="col" width="80%">Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nomor</td>
                                <td>199/PMK.01/2020</td>
                            </tr>
                            <tr>
                                <td>Judul</td>
                                <td>Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan
                                    Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah</td>
                            </tr>
                            <tr>
                                <td>Bentuk</td>
                                <td>Peraturan Menteri Keuangan</td>
                            </tr>
                            <tr>
                                <td>Tajuk Entri Utama</td>
                                <td>Kementerian Keuangan</td>
                            </tr>
                            <tr>
                                <td>Tanggal Penetapan</td>
                                <td>22 Februari 2019</td>
                            </tr>
                            <tr>
                                <td>Tanggal Pengundangan</td>
                                <td>22 Februari 2019</td>
                            </tr>
                            <tr>
                                <td>Sumber/Lokasi</td>
                                <td>BN 2019 (122)</td>
                            </tr>
                            <tr>
                                <td>Bidang Hukum</td>
                                <td>Hukum Publik</td>
                            </tr>
                            <tr>
                                <td>Subjek</td>
                                <td>
                                    <a [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">DAU</span></a>
                                    <a [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">Jaminan</span></a>
                                    <a [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">Iuran</span></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td><a target="_blank" [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">Bantuan</span></a>
                                    <a target="_blank" [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">Pembayaran</span></a>
                                    <a target="_blank" [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">Dana Alokasi</span></a>
                                    <a target="_blank" [routerLink]="['/peraturan/list']" [queryParams]="{Subyek : 'Bantuan'}"><span class="badge badge-primary">Perimbangan Keuangan</span></a></td>
                            </tr>
                            <tr>
                                <td>Riwayat</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Unduhan</td>
                                <td>Fulltext PDF | Abstrak PDF</td>
                            </tr>
                            <tr>
                                <td>Media</td>
                                <td>
                                    <a href="#" class="btn btn-info small"><i class="fa fa-photo"></i> Infografis</a>
                                    <a href="#" class="btn btn-info small"><i class="fa fa-photo"></i> Video</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>


        </div>
    </div>
</div>