<div class="page home-page">

  <app-header></app-header>

  <section class="content">
    <section class="block">
        <div class="container">
            <h2>Peraturan Terbaru</h2>
            <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
                <div class="item">
                    <div class="wrapper">
                        <div class="image">

                            <a href="single-listing-1.html" class="image-wrapper background-image">
                                <img src="assets/img/image-01.jpg" alt="">
                            </a>
                        </div>
                        <div class="price">168/PMK.08/2019</div>
                        <div class="meta">
                            <figure>
                                <i class="fa fa-calendar-o"></i>14 November 2019
                            </figure>
                            <figure>
                                <a href="#">
                                    <i class="fa fa-user"></i>Pembiayaan
                                </a>
                            </figure>
                        </div>
                        <!--end meta-->
                        <div class="description">
                            <p>Lelang Surat Utang Negara di Pasar Perdana Domestik</p>
                        </div>
                        <!--end description-->
                        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
                    </div>
                </div>
                <!--end item-->

                <div class="item">
                    <div class="wrapper">
                        <div class="image">

                            <a href="single-listing-1.html" class="image-wrapper background-image">
                                <img src="assets/img/image-01.jpg" alt="">
                            </a>
                        </div>
                        <div class="price">167/PMK.07/2019</div>
                        <div class="meta">
                            <figure>
                                <i class="fa fa-calendar-o"></i>14 November 2019
                            </figure>
                            <figure>
                                <a href="#">
                                    <i class="fa fa-user"></i>DBH
                                </a>
                            </figure>
                        </div>
                        <!--end meta-->
                        <div class="description">
                            <p>Penyaluran Kurang Bayar Dana Bagi Hasil pada Tahun Anggaran 2019
                            </p>
                        </div>
                        <!--end description-->
                        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
                    </div>
                </div>
                <!--end item-->

                <div class="item">
                    <div class="wrapper">
                        <div class="image">

                            <a href="single-listing-1.html" class="image-wrapper background-image">
                                <img src="assets/img/image-01.jpg" alt="">
                            </a>
                        </div>
                        <div class="price">165/PMK.07/2019</div>
                        <div class="meta">
                            <figure>
                                <i class="fa fa-calendar-o"></i>14 November 2019
                            </figure>
                            <figure>
                                <a href="#">
                                    <i class="fa fa-user"></i>DAU
                                </a>
                            </figure>
                        </div>
                        <!--end meta-->
                        <div class="description">
                            <p>Dana Alokasi Umum Tambahan Bantuan Pembayaran Selisih Perubahan luran Jaminan Kesehatan Penduduk yang Didaftarkan oleh Pemerintah Daerah
                            </p>
                        </div>
                        <!--end description-->
                        <a href="single-listing-1.html" class="detail text-caps underline">Detail</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="background" data-background-color="#fff"></div>
        <!--end background-->
    </section>
  </section>
   

  <app-footer></app-footer>

</div>