<article class="blog-post clearfix">
    <a href="blog-post.html">
        <img src="assets/img/blog-image-01.jpg" alt="">
    </a>
    <div class="article-title">
        <h2><a href="blog-post.html">10 tips for renovation</a></h2>
        <div class="tags framed">
            <a href="#" class="tag">Home &amp; Decor</a>
            <a href="#" class="tag">Design</a>
        </div>
    </div>
    <div class="meta">
        <figure>
            <a href="#" class="icon">
                <i class="fa fa-user"></i>
                John Doe
            </a>
        </figure>
        <figure>
            <i class="fa fa-calendar-o"></i>
            02.05.2017
        </figure>
    </div>
    <div class="blog-post-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit
            amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Vestibulum tincidunt, sapien sagittis sollicitudin dapibus,
            risus mi euismod elit
        </p>
        <h2>In nec nulla nec enim</h2>
        <p>
            vehicula mattis id vel nunc. Quisque vel augue in erat scelerisque egestas at et
            leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
            ac turpis egestas. Ut cursus orci et lacus imperdiet, sed maximus nibh laoreet.
            Nam posuere dolor id orci fringilla, imperdiet porttitor justo varius. Proin ac
            lorem condimentum, iaculis tortor sed, semper dui. Praesent dignissim posuere
            euismod. Donec cursus massa nisi, eget lobortis eros vestibulum vitae. Vivamus a
            sapien sem. Praesent in massa dui. Aliquam augue sem, porttitor in orci quis,
            tempus bibendum purus. Suspendisse at aliquet ex, id egestas nisi. Donec quis
            dictum elit. Nullam sed sodales nisl. Duis eget consectetur ante, eu sodales nisi.
        </p>
        <hr>
    </div>
    <!--end blog-post-content-->
</article>