<section class="block">
    <div class="container">
        <h2>{{this.title}}</h2>
        <ul class="categories-list clearfix">
            <li *ngFor="let tematik of this.data">
                <i class="tematik-icon">
                    <img [src]="tematik.Image" alt="" [queryParams]="{Id : tematik.Id}" [routerLink]="['/tematik']">
                </i>
                <h3><a href="#" [queryParams]="{Id : tematik.Id}" [routerLink]="['/tematik']">{{tematik.Text}}</a></h3>
                <div class="sub-categories">
                    <a href="#" [queryParams]="{Id : tematik.Id}" [routerLink]="['/tematik']">{{tematik.Description}}</a>
                </div>
            </li>    
        </ul>
    </div>
</section>