<section>
    <h2>Daftar Masukan/Pertanyaan</h2>
    <div class="comments">
        <div class="comment" *ngFor="let feedback of this.FeedbackData">
            <div class="author">
                <a href="#" class="author-image">
                        <img class="background-image" [src]="getGravatarURL(feedback.Email)" alt="">
                </a>
                <div class="author-description">
                    <h3>{{ feedback.Name }}</h3>
                    <div class="meta">
                        <span>{{ feedback.DateWrite }}</span>
                    </div>
                    <!--end meta-->
                    <p>
                        {{ feedback.Content }}
                    </p>

                    <div class="reply">
                        <h5>Administrator:</h5>
                        <p> 
                            {{ feedback.Answer }}
                        </p>
    
                    </div>
                </div>
            </div>

        </div>
        <div class="center">
            <a href="#" class="btn btn-primary btn-framed btn-rounded">Muat Lebih Banyak</a>
        </div>
    </div>

    

</section>